# IDE / System
.vscode/
.idea/
.DS_Store
node_modules/
dist/

# SECRETS
.env
.env.*
!.env.example
*.local
config.js
docs/config.js

# Supabase
supabase/.temp/
supabase/functions/.env
*.pem
*.key
secrets/
